{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "FreightClaw 机器接入 API",
    "version": "2026-09-06.v4",
    "description": "由当前代码和JSON Schema生成。统一应用 Key 可直接调用固定 REST 路由，也可换取 MCP 短令牌；网页使用邮箱账号密码。正式报价保存、人工审核和PDF是人员授权业务操作，不在机器凭证中隐式开放。"
  },
  "servers": [
    {
      "url": "https://www.freightclaw.net"
    }
  ],
  "paths": {
    "/access/v2/business/token/exchange": {
      "post": {
        "operationId": "exchangeBusinessToken",
        "summary": "业务 API 换取短期令牌",
        "description": "Authorization: ApiKey <长期业务 Key>。最多300秒；只授予当前批准且生效的操作。",
        "security": [
          {
            "ApplicationKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessBusinessExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBusinessExchangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/business/customs/query": {
      "post": {
        "operationId": "queryCustoms",
        "summary": "关税与归类查询",
        "description": "可直接使用统一应用 Key，也可使用兼容的业务短令牌。权限由服务端校验，客户端不能指定企业或操作者。试算不会保存、发送或批准正式报价。",
        "security": [
          {
            "ApplicationKey": []
          },
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "schema_version",
                  "input"
                ],
                "properties": {
                  "schema_version": {
                    "const": "business-call@2026-09-05.v1"
                  },
                  "input": {
                    "$ref": "#/components/schemas/AccessBusinessCallRequest/$defs/customsQueryInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBusinessCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/business/customs/tax-estimate": {
      "post": {
        "operationId": "estimateTax",
        "summary": "单项税费估算",
        "description": "可直接使用统一应用 Key，也可使用兼容的业务短令牌。权限由服务端校验，客户端不能指定企业或操作者。试算不会保存、发送或批准正式报价。",
        "security": [
          {
            "ApplicationKey": []
          },
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "schema_version",
                  "input"
                ],
                "properties": {
                  "schema_version": {
                    "const": "business-call@2026-09-05.v1"
                  },
                  "input": {
                    "$ref": "#/components/schemas/AccessBusinessCallRequest/$defs/taxEstimateInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBusinessCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/business/customs/tax-estimates/batch": {
      "post": {
        "operationId": "estimateTaxBatch",
        "summary": "批量税费估算（最多20项）",
        "description": "可直接使用统一应用 Key，也可使用兼容的业务短令牌。权限由服务端校验，客户端不能指定企业或操作者。试算不会保存、发送或批准正式报价。",
        "security": [
          {
            "ApplicationKey": []
          },
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "schema_version",
                  "input"
                ],
                "properties": {
                  "schema_version": {
                    "const": "business-call@2026-09-05.v1"
                  },
                  "input": {
                    "$ref": "#/components/schemas/AccessBusinessCallRequest/$defs/taxEstimateBatchInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBusinessCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/business/quote/zone-preview": {
      "post": {
        "operationId": "previewQuote",
        "summary": "加拿大尾程试算",
        "description": "可直接使用统一应用 Key，也可使用兼容的业务短令牌。权限由服务端校验，客户端不能指定企业或操作者。试算不会保存、发送或批准正式报价。",
        "security": [
          {
            "ApplicationKey": []
          },
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "schema_version",
                  "input"
                ],
                "properties": {
                  "schema_version": {
                    "const": "business-call@2026-09-05.v1"
                  },
                  "input": {
                    "$ref": "#/components/schemas/AccessBusinessCallRequest/$defs/quoteZonePreviewInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBusinessCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/business/quote/ai-extract-preview": {
      "post": {
        "operationId": "extractQuoteInput",
        "summary": "询价资料提取",
        "description": "可直接使用统一应用 Key，也可使用兼容的业务短令牌。权限由服务端校验，客户端不能指定企业或操作者。试算不会保存、发送或批准正式报价。",
        "security": [
          {
            "ApplicationKey": []
          },
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "schema_version",
                  "input"
                ],
                "properties": {
                  "schema_version": {
                    "const": "business-call@2026-09-05.v1"
                  },
                  "input": {
                    "$ref": "#/components/schemas/AccessBusinessCallRequest/$defs/quoteAiExtractInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBusinessCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/business/quote/freightcom-ltl-preview": {
      "post": {
        "operationId": "previewFreightcomRate",
        "summary": "Freightcom LTL 承运商询价",
        "description": "可直接使用统一应用 Key，也可使用兼容的业务短令牌。权限由服务端校验，客户端不能指定企业或操作者。试算不会保存、发送或批准正式报价。",
        "security": [
          {
            "ApplicationKey": []
          },
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "schema_version",
                  "input"
                ],
                "properties": {
                  "schema_version": {
                    "const": "business-call@2026-09-05.v1"
                  },
                  "input": {
                    "$ref": "#/components/schemas/AccessBusinessCallRequest/$defs/freightcomLtlPreviewInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBusinessCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessError"
                }
              }
            }
          }
        }
      }
    },
    "/access/v2/tools/token/exchange": {
      "post": {
        "operationId": "exchangeToolsToken",
        "summary": "基础工具换取短期令牌",
        "description": "使用已交付的基础工具 Key，令牌 audience 为 freightclaw-t0-rest-v2。旧 MCP audience 保持独立。",
        "security": [
          {
            "ApplicationKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessExchangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          }
        }
      }
    },
    "/access/v2/application/token/exchange": {
      "post": {
        "operationId": "exchangeApplicationMcpToken",
        "summary": "统一应用 Key 换取 MCP 短期令牌",
        "description": "使用已交付的 flcbk 应用 Key，令牌仅用于当前批准的 MCP T0 工具，audience 为 logistics MCP。",
        "security": [
          {
            "ApplicationKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessApplicationExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApplicationExchangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          }
        }
      }
    },
    "/access/v2/application/mcp/token/exchange": {
      "post": {
        "operationId": "exchangeBusinessMcpToken",
        "summary": "统一应用 Key 换取八项 MCP 能力令牌",
        "description": "使用显式 business-v1 profile；最多300秒，只包含当前授权操作。用返回 Bearer 连接 /mcp。工具当前是否启用由签名模块发布控制。",
        "security": [
          {
            "ApplicationKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessApplicationMcpExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApplicationMcpExchangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationMcpError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationMcpError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationMcpError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationMcpError"
                }
              }
            }
          }
        }
      }
    },
    "/console/api/v1/calls": {
      "get": {
        "operationId": "listOwnCalls",
        "summary": "当前企业的调用记录与用量",
        "security": [
          {
            "PortalSession": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "application_id",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:/-]{0,127}$"
            }
          },
          {
            "in": "query",
            "name": "operation",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "cargo.calculate",
                "container.plan_summary",
                "system.agent_context.get",
                "customs.query",
                "customs.tax.estimate",
                "quote.zone_preview",
                "quote.ai_extract_preview",
                "quote.freightcom_ltl.preview"
              ]
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "needs_input",
                "manual_review",
                "blocked",
                "unavailable"
              ]
            }
          },
          {
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T[^\\s]+$"
            }
          },
          {
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T[^\\s]+$"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 400
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 25,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessPortalCallPage"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          }
        }
      }
    },
    "/console/api/v1/business/customs/history/list": {
      "post": {
        "operationId": "customsHistorylist",
        "summary": "关务来源历史列表",
        "description": "仅人员会话和CSRF；来源历史合同尚须适配验证。历史快照不代表当前税率。",
        "security": [
          {
            "PortalSession": []
          }
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "input"
                ],
                "properties": {
                  "input": {
                    "$ref": "#/components/schemas/AccessCustomsHistoryListRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/AccessCustomsHistoryListResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PortalBusinessError"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          }
        }
      }
    },
    "/console/api/v1/business/customs/history/get": {
      "post": {
        "operationId": "customsHistoryget",
        "summary": "恢复关务来源历史",
        "description": "仅人员会话和CSRF；来源历史合同尚须适配验证。历史快照不代表当前税率。",
        "security": [
          {
            "PortalSession": []
          }
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "input"
                ],
                "properties": {
                  "input": {
                    "$ref": "#/components/schemas/AccessCustomsHistoryGetRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/AccessCustomsHistoryGetResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PortalBusinessError"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tools/cargo.calculate": {
      "post": {
        "operationId": "cargo_calculate",
        "summary": "货物计算",
        "description": "可直接使用统一应用 Key，也可使用兼容的 T0 REST 短令牌。请求体直接使用原工具 input，不能再包一层 input。数据及计算规则的来源必须明确。",
        "security": [
          {
            "ApplicationKey": []
          },
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cargo_calculate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tools/container.plan_summary": {
      "post": {
        "operationId": "container_plan_summary",
        "summary": "装柜摘要",
        "description": "可直接使用统一应用 Key，也可使用兼容的 T0 REST 短令牌。请求体直接使用原工具 input，不能再包一层 input。数据及计算规则的来源必须明确。",
        "security": [
          {
            "ApplicationKey": []
          },
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/container_plan_summary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tools/system.agent_context.get": {
      "post": {
        "operationId": "system_agent_context_get",
        "summary": "Agent 上下文",
        "description": "可直接使用统一应用 Key，也可使用兼容的 T0 REST 短令牌。请求体直接使用原工具 input，不能再包一层 input。数据及计算规则的来源必须明确。",
        "security": [
          {
            "ApplicationKey": []
          },
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/system_agent_context_get"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentContextEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "401": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/T0RestError"
                }
              }
            }
          }
        }
      }
    },
    "/access/v2/business/jwks.json": {
      "get": {
        "operationId": "businessJwks",
        "summary": "业务令牌验证公钥",
        "security": [],
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessJwksResponse"
                }
              }
            }
          }
        }
      }
    },
    "/console/api/v1/quote-documents/config": {
      "get": {
        "operationId": "quoteDocuments_config",
        "summary": "人员报价单 config",
        "security": [
          {
            "PortalSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "schema_version": {
                      "type": "string",
                      "const": "quote-documents@2026-09-08.v1"
                    },
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "input": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "company_name": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "company_address": {
                                  "type": "string",
                                  "maxLength": 500
                                },
                                "company_phone": {
                                  "type": "string",
                                  "maxLength": 50
                                },
                                "company_email": {
                                  "type": "string",
                                  "maxLength": 254
                                },
                                "terms": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 4000
                                },
                                "fee_items": {
                                  "maxItems": 60,
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                      },
                                      "name": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 200
                                      },
                                      "description": {
                                        "default": "",
                                        "type": "string",
                                        "maxLength": 500
                                      },
                                      "group": {
                                        "type": "string",
                                        "enum": [
                                          "A",
                                          "B",
                                          "C"
                                        ]
                                      },
                                      "quantity": {
                                        "type": "string",
                                        "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                                      },
                                      "unit": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 20
                                      },
                                      "unit_price": {
                                        "type": "string",
                                        "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                                      },
                                      "currency": {
                                        "type": "string",
                                        "enum": [
                                          "USD",
                                          "CAD",
                                          "CNY"
                                        ]
                                      },
                                      "display": {
                                        "type": "string",
                                        "enum": [
                                          "detail",
                                          "hiddenIncluded",
                                          "hiddenExcluded",
                                          "merged"
                                        ]
                                      },
                                      "merge_name": {
                                        "default": "",
                                        "type": "string",
                                        "maxLength": 200
                                      },
                                      "note": {
                                        "default": "",
                                        "type": "string",
                                        "maxLength": 500
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name",
                                      "description",
                                      "group",
                                      "quantity",
                                      "unit",
                                      "unit_price",
                                      "currency",
                                      "display",
                                      "merge_name",
                                      "note"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "required": [
                                "company_name",
                                "company_address",
                                "company_phone",
                                "company_email",
                                "terms",
                                "fee_items"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "version",
                        "input"
                      ],
                      "additionalProperties": false
                    },
                    "reason_codes": {
                      "minItems": 0,
                      "maxItems": 0,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "schema_version",
                    "status",
                    "data",
                    "reason_codes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          }
        }
      }
    },
    "/console/api/v1/quote-documents/config-save": {
      "post": {
        "operationId": "quoteDocuments_config_save",
        "summary": "人员报价单 config-save",
        "security": [
          {
            "PortalSession": []
          }
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "expected_version": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "input": {
                    "type": "object",
                    "properties": {
                      "company_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      "company_address": {
                        "type": "string",
                        "maxLength": 500
                      },
                      "company_phone": {
                        "type": "string",
                        "maxLength": 50
                      },
                      "company_email": {
                        "type": "string",
                        "maxLength": 254
                      },
                      "terms": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 4000
                      },
                      "fee_items": {
                        "maxItems": 60,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "name": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "description": {
                              "default": "",
                              "type": "string",
                              "maxLength": 500
                            },
                            "group": {
                              "type": "string",
                              "enum": [
                                "A",
                                "B",
                                "C"
                              ]
                            },
                            "quantity": {
                              "type": "string",
                              "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                            },
                            "unit": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 20
                            },
                            "unit_price": {
                              "type": "string",
                              "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                            },
                            "currency": {
                              "type": "string",
                              "enum": [
                                "USD",
                                "CAD",
                                "CNY"
                              ]
                            },
                            "display": {
                              "type": "string",
                              "enum": [
                                "detail",
                                "hiddenIncluded",
                                "hiddenExcluded",
                                "merged"
                              ]
                            },
                            "merge_name": {
                              "default": "",
                              "type": "string",
                              "maxLength": 200
                            },
                            "note": {
                              "default": "",
                              "type": "string",
                              "maxLength": 500
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "description",
                            "group",
                            "quantity",
                            "unit",
                            "unit_price",
                            "currency",
                            "display",
                            "merge_name",
                            "note"
                          ],
                          "additionalProperties": false
                        }
                      }
                    },
                    "required": [
                      "company_name",
                      "company_address",
                      "company_phone",
                      "company_email",
                      "terms",
                      "fee_items"
                    ],
                    "additionalProperties": false
                  },
                  "confirmed": {
                    "type": "boolean",
                    "const": true
                  }
                },
                "required": [
                  "expected_version",
                  "input",
                  "confirmed"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "schema_version": {
                      "type": "string",
                      "const": "quote-documents@2026-09-08.v1"
                    },
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "input": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "company_name": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "company_address": {
                                  "type": "string",
                                  "maxLength": 500
                                },
                                "company_phone": {
                                  "type": "string",
                                  "maxLength": 50
                                },
                                "company_email": {
                                  "type": "string",
                                  "maxLength": 254
                                },
                                "terms": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 4000
                                },
                                "fee_items": {
                                  "maxItems": 60,
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                      },
                                      "name": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 200
                                      },
                                      "description": {
                                        "default": "",
                                        "type": "string",
                                        "maxLength": 500
                                      },
                                      "group": {
                                        "type": "string",
                                        "enum": [
                                          "A",
                                          "B",
                                          "C"
                                        ]
                                      },
                                      "quantity": {
                                        "type": "string",
                                        "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                                      },
                                      "unit": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 20
                                      },
                                      "unit_price": {
                                        "type": "string",
                                        "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                                      },
                                      "currency": {
                                        "type": "string",
                                        "enum": [
                                          "USD",
                                          "CAD",
                                          "CNY"
                                        ]
                                      },
                                      "display": {
                                        "type": "string",
                                        "enum": [
                                          "detail",
                                          "hiddenIncluded",
                                          "hiddenExcluded",
                                          "merged"
                                        ]
                                      },
                                      "merge_name": {
                                        "default": "",
                                        "type": "string",
                                        "maxLength": 200
                                      },
                                      "note": {
                                        "default": "",
                                        "type": "string",
                                        "maxLength": 500
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name",
                                      "description",
                                      "group",
                                      "quantity",
                                      "unit",
                                      "unit_price",
                                      "currency",
                                      "display",
                                      "merge_name",
                                      "note"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "required": [
                                "company_name",
                                "company_address",
                                "company_phone",
                                "company_email",
                                "terms",
                                "fee_items"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "version",
                        "input"
                      ],
                      "additionalProperties": false
                    },
                    "reason_codes": {
                      "minItems": 0,
                      "maxItems": 0,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "schema_version",
                    "status",
                    "data",
                    "reason_codes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "403": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          },
          "503": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalError"
                }
              }
            }
          }
        }
      }
    },
    "/console/api/v1/quote-documents/preview": {
      "post": {
        "operationId": "quoteDocuments_preview",
        "summary": "人员报价单 preview",
        "security": [
          {
            "PortalSession": []
          }
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "input": {
                    "type": "object",
                    "properties": {
                      "quote_no": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 80
                      },
                      "customer_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      "quote_date": {
                        "type": "string",
                        "format": "date",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                      },
                      "valid_until": {
                        "type": "string",
                        "format": "date",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                      },
                      "origin": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "destination": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "route_name": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "job_no": {
                        "type": "string",
                        "maxLength": 80
                      },
                      "so_no": {
                        "type": "string",
                        "maxLength": 80
                      },
                      "container_no": {
                        "type": "string",
                        "maxLength": 80
                      },
                      "remark": {
                        "type": "string",
                        "maxLength": 4000
                      },
                      "exchange_rates": {
                        "type": "object",
                        "properties": {
                          "USD": {
                            "anyOf": [
                              {
                                "type": "string",
                                "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "CAD": {
                            "anyOf": [
                              {
                                "type": "string",
                                "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "USD",
                          "CAD"
                        ],
                        "additionalProperties": false
                      },
                      "fee_items": {
                        "minItems": 1,
                        "maxItems": 60,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "name": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "description": {
                              "default": "",
                              "type": "string",
                              "maxLength": 500
                            },
                            "group": {
                              "type": "string",
                              "enum": [
                                "A",
                                "B",
                                "C"
                              ]
                            },
                            "quantity": {
                              "type": "string",
                              "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                            },
                            "unit": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 20
                            },
                            "unit_price": {
                              "type": "string",
                              "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                            },
                            "currency": {
                              "type": "string",
                              "enum": [
                                "USD",
                                "CAD",
                                "CNY"
                              ]
                            },
                            "display": {
                              "type": "string",
                              "enum": [
                                "detail",
                                "hiddenIncluded",
                                "hiddenExcluded",
                                "merged"
                              ]
                            },
                            "merge_name": {
                              "default": "",
                              "type": "string",
                              "maxLength": 200
                            },
                            "note": {
                              "default": "",
                              "type": "string",
                              "maxLength": 500
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "description",
                            "group",
                            "quantity",
                            "unit",
                            "unit_price",
                            "currency",
                            "display",
                            "merge_name",
                            "note"
                          ],
                          "additionalProperties": false
                        }
                      }
                    },
                    "required": [
                      "quote_no",
                      "customer_name",
                      "quote_date",
                      "valid_until",
                      "origin",
                      "destination",
                      "route_name",
                      "job_no",
                      "so_no",
                      "container_no",
                      "remark",
                      "exchange_rates",
                      "fee_items"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "input"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作结果；业务状态及来源版本以响应为准。",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "schema_version": {
                      "type": "string",
                      "const": "quote-documents@2026-09-08.v1"
                    },
                    "status": {
                      "type": "string",
                      "const": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "input": {
                          "type": "object",
                          "properties": {
                            "quote_no": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 80
                            },
                            "customer_name": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "quote_date": {
                              "type": "string",
                              "format": "date",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                            },
                            "valid_until": {
                              "type": "string",
                              "format": "date",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                            },
                            "origin": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "destination": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "route_name": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "job_no": {
                              "type": "string",
                              "maxLength": 80
                            },
                            "so_no": {
                              "type": "string",
                              "maxLength": 80
                            },
                            "container_no": {
                              "type": "string",
                              "maxLength": 80
                            },
                            "remark": {
                              "type": "string",
                              "maxLength": 4000
                            },
                            "exchange_rates": {
                              "type": "object",
                              "properties": {
                                "USD": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "CAD": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "USD",
                                "CAD"
                              ],
                              "additionalProperties": false
                            },
                            "fee_items": {
                              "minItems": 1,
                              "maxItems": 60,
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                  },
                                  "name": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 200
                                  },
                                  "description": {
                                    "default": "",
                                    "type": "string",
                                    "maxLength": 500
                                  },
                                  "group": {
                                    "type": "string",
                                    "enum": [
                                      "A",
                                      "B",
                                      "C"
                                    ]
                                  },
                                  "quantity": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                                  },
                                  "unit": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 20
                                  },
                                  "unit_price": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9][0-9]{0,9})(?:\\.[0-9]{1,6})?$"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "enum": [
                                      "USD",
                                      "CAD",
                                      "CNY"
                                    ]
                                  },
                                  "display": {
                                    "type": "string",
                                    "enum": [
                                      "detail",
                                      "hiddenIncluded",
                                      "hiddenExcluded",
                                      "merged"
                                    ]
                                  },
                                  "merge_name": {
                                    "default": "",
                                    "type": "string",
                                    "maxLength": 200
                                  },
                                  "note": {
                                    "default": "",
                                    "type": "string",
                                    "maxLength": 500
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "description",
                                  "group",
                                  "quantity",
                                  "unit",
                                  "unit_price",
                                  "currency",
                                  "display",
                                  "merge_name",
                                  "note"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "quote_no",
                            "customer_name",
                            "quote_date",
                            "valid_until",
                            "origin",
                            "destination",
                            "route_name",
                            "job_no",
                            "so_no",
                            "container_no",
                            "remark",
                            "exchange_rates",
                            "fee_items"
                          ],
                          "additionalProperties": false
                        },
                        "template_version": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        },
                        "preview_hash": {
                          "type": "string",
                          "pattern": "^[a-f0-9]{64}$"
                        },
                        "preview_expires_at": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        },
                        "native_quote_v1": {
                          "type": "object",
                          "properties": {
                            "request": {
                              "type": "object",
                              "properties": {
                                "address_line": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 500
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "postal_code": {
                                  "type": "string",
                                  "pattern": "^[A-Za-z]\\d[A-Za-z][ -]?\\d[A-Za-z]\\d$"
                                },
                                "city": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 120
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "province": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "minLength": 2,
                                      "maxLength": 32
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "cbm": {
                                  "type": "string",
                                  "pattern": "^(0|[1-9][0-9]*)(\\.[0-9]+)?$"
                                },
                                "weight_kg": {
                                  "type": "string",
                                  "pattern": "^(0|[1-9][0-9]*)(\\.[0-9]+)?$"
                                },
                                "piece_count": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 9007199254740991
                                },
                                "packaging_type": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 80
                                },
                                "longest_side_cm": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "pattern": "^(0|[1-9][0-9]*)(\\.[0-9]+)?$"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "address_type": {
                                  "type": "string",
                                  "enum": [
                                    "commercial",
                                    "residential",
                                    "private",
                                    "rural_residential"
                                  ]
                                },
                                "requires_liftgate": {
                                  "type": "boolean"
                                },
                                "requires_pallet_jack": {
                                  "type": "boolean"
                                },
                                "requires_appointment": {
                                  "type": "boolean"
                                },
                                "explicit_pallet_count": {
                                  "anyOf": [
                                    {
                                      "type": "integer",
                                      "minimum": 1,
                                      "maximum": 9007199254740991
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "is_stackable": {
                                  "anyOf": [
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "detention_minutes": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 9007199254740991
                                },
                                "extensions": {
                                  "type": "object",
                                  "properties": {
                                    "cargo_lines_v1": {
                                      "minItems": 1,
                                      "maxItems": 100,
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 80
                                          },
                                          "quantity": {
                                            "type": "integer",
                                            "minimum": 1,
                                            "maximum": 100000
                                          },
                                          "packaging_type": {
                                            "type": "string",
                                            "enum": [
                                              "carton",
                                              "crate",
                                              "pallet",
                                              "bag",
                                              "other"
                                            ]
                                          },
                                          "length_cm": {
                                            "type": "string",
                                            "pattern": "^(?:0|[1-9][0-9]{0,8})(?:\\.[0-9]{1,8})?$"
                                          },
                                          "width_cm": {
                                            "type": "string",
                                            "pattern": "^(?:0|[1-9][0-9]{0,8})(?:\\.[0-9]{1,8})?$"
                                          },
                                          "height_cm": {
                                            "type": "string",
                                            "pattern": "^(?:0|[1-9][0-9]{0,8})(?:\\.[0-9]{1,8})?$"
                                          },
                                          "weight": {
                                            "type": "object",
                                            "properties": {
                                              "mode": {
                                                "type": "string",
                                                "enum": [
                                                  "unit_weight",
                                                  "line_total_weight"
                                                ]
                                              },
                                              "value_kg": {
                                                "type": "string",
                                                "pattern": "^(?:0|[1-9][0-9]{0,8})(?:\\.[0-9]{1,8})?$"
                                              }
                                            },
                                            "required": [
                                              "mode",
                                              "value_kg"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "quantity",
                                          "packaging_type",
                                          "length_cm",
                                          "width_cm",
                                          "height_cm",
                                          "weight"
                                        ],
                                        "additionalProperties": false
                                      }
                                    },
                                    "origin_v1": {
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 100
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "required": [
                                "postal_code",
                                "cbm",
                                "weight_kg",
                                "piece_count",
                                "packaging_type",
                                "address_type",
                                "requires_liftgate",
                                "requires_pallet_jack",
                                "requires_appointment",
                                "explicit_pallet_count",
                                "is_stackable",
                                "detention_minutes"
                              ],
                              "additionalProperties": false
                            },
                            "preview": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "const": "USD"
                                },
                                "source_type": {
                                  "type": "string",
                                  "enum": [
                                    "zone_matrix",
                                    "llm_auxiliary_advice",
                                    "hermes_agent_correction",
                                    "learned_manual_quote",
                                    "manual_required"
                                  ]
                                },
                                "confidence": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 100
                                },
                                "postal_code": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "postal_prefix": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "preferred_city": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "city": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "province": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "origin": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "zone": {
                                  "anyOf": [
                                    {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "billing_pallets": {
                                  "anyOf": [
                                    {
                                      "type": "integer",
                                      "minimum": 1,
                                      "maximum": 9007199254740991
                                    },
                                    {
                                      "type": "null"
                                    }
[...]
